* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: gray;
    padding: 20px;
    opacity: 70%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 25px;
    text-align: center;
    
}

body {
    background-image: url(kemenpar-iklan-1_169.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}